@import "../../styles/variables";
@import "../../styles/breakpoint";

.Header {
  font-size: 1rem;
  width: 100%;
  padding: 0 6.05em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: max-content;

  @include sm {
    padding: 0 25px;
    background-color: rgba(64, 64, 64, 0.5);
  }

  &__logo {
    font-size: 1em;
    margin: 2.55em 0;

    @include sm {
      margin: 51px 0 39px 0;
    }

    &>svg {
      width: 6.11em;
      height: 1.94em;

      @include sm {
        width: 110px;
        height: 35px;
      }
    }
  }

  &__Sticky {
    background-color: #425486;

    &__logo {
      margin: 1.55em 0;
    }
  }

  &__Nav {
    @include sm {
      width: 25px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &__icon {
      display: none;

      @include sm {
        display: block;
        position: relative;
        width: 25px;
        height: 2px;
        background-color: $white;
        right: 0;
        transition: all ease-in-out 0.2s;

        &::before {
          content: "";
          position: absolute;
          width: 25px;
          height: 2px;
          background-color: $white;
          right: 0;
          top: -8px;
          transition: all ease-in-out 0.2s;
        }

        &::after {
          content: "";
          position: absolute;
          width: 25px;
          height: 2px;
          background-color: $white;
          right: 0;
          top: 8px;
          transition: all ease-in-out 0.2s;
        }
      }
    }


    &>input[type=checkbox] {
      display: none;

      @include sm {
        display: block;
        visibility: hidden;
        position: absolute;
      }

      &:checked {
        &+label {
          height: 0;

          &::before {
            top: -3px;
            transform: rotate(45deg);
          }

          &::after {
            top: -3px;
            transform: rotate(-45deg);
          }

          &+ul {
            right: 0;
            width: 200px;
            opacity: 1;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }

    &List {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      color: $white;

      @include sm {
        position: absolute;
        overflow: hidden;
        display: block;
        background: $white;
        top: 150%;
        right: -8px;
        color: #425486;
        width: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: 0;
        transition: all ease-in-out 0.2s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    &Item {
      padding-bottom: 0.27em;
      position: relative;

      @include sm {
        font-size: 20px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &__Active {
        color: #32BBFF;
      }

      &__text {
        &:hover {
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $white;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 1.67em;
      }

      &>a {
        font-size: 0.89em;
        line-height: 128.5%;
      }
    }
  }
}