@import '../../styles/generic.scss';

.BookHeader,
.SearchResultHeader {
    font-size: 1rem;
    padding: 6.83em 6.06em 0.72em 6.06em;
    background: $white;
}

.SearchResultHeader {
    &>h4 {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #5ACAFA;
    }

    &>h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        color: #425486;
        margin: 5px 0;
    }

    &>p {
        font-size: 16px;
        line-height: 21px;
        color: #425486;
        margin-bottom: 10px;
    }

    &>button {
        display: block;
        margin-left: auto;
        height: 3.25em;
        background: #32BBFF !important;
        color: $white !important;
        width: 197px;
    }
}

.BookHeader {
    padding-bottom: 1.67em;
    color: #A1A9C3;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;

    &>svg {
        height: 7px;
        margin: 0 13px;
    }

    &__ActiveStage {
        color: #425486;
    }
}

.ResultWrapper {
    font-size: 1em;
    padding: 2.11em 6.06em 2.11em 6.06em;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

.Default {
    &__sidebar {
        width: 324px !important;
        height: max-content;
    }
}

.Result,
.NoResult {
    font-size: 1em;
    width: 847px;
    background: #FFFFFF;
    border-radius: 5px;

    &:not(:last-of-type) {
        margin-bottom: 38px;
    }
}

.Result__Details,
.NoResult {
    display: flex;
    align-items: center;
    height: max-content;
}


.NoResult {
    padding: 30px;

    &>svg {
        width: 82px;
        height: 82px;
        margin-right: 18px;
    }

    &__Textbox {
        color: #425486;

        &>h4 {
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
        }

        &>p {
            font-size: 16px;
            line-height: 21px;
        }
    }
}

.Result {

    &__Details,
    &__Seat {
        width: 100%;
        padding: 20px 25px;
        justify-content: space-between;
    }

    &__Details {
        &__bus {
            &>p {
                font-weight: bold;
                font-size: 16px;
                line-height: 107.45%;
                color: #A1A9C3;
                margin-bottom: 23px;
            }

            &>img {
                width: 153.27px;
                height: 71px;
            }
        }

        &__time {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            font-size: 16px;
            line-height: 21px;
            color: #425486;

            &>svg {
                width: 28.17px;
                height: 25px;
                margin-right: 9px;
            }
        }

        &__booking {
            text-align: end;
            color: #425486;

            &>h3 {
                font-weight: bold;
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 2px;
            }

            &>p {
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 20px;
            }
        }
    }

    &__button {
        height: 38px;
        background: #32BBFF !important;
        color: $white !important;
        width: 161px !important;
        font-size: 16px;
        line-height: 21px;
        font-weight: normal;
        min-width: initial;
    }

    &__Seat {
        border-top: 0.5px solid #A1A9C3;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        &__bus {
            height: 238.88px;
            width: 340.05px;
            position: relative;
            padding: 20px 20px 20px 87px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            &>svg {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }

        &__column {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &>div {
                height: 31px;
                width: 31px;

                &>svg {
                    width: 100%;
                    height: 100%;
                    transform: rotate(-90deg);

                    path {
                        fill: #425486;
                    }
                }
            }
        }

        &__other {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
        }

        &__sample {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: nowrap;
            border: 1px solid #A1A9C3;
            border-radius: 5px;
            width: 316px;
            padding: 14px 28px;

            &>div {
                text-align: center;
                font-size: 16px;
                line-height: 21px;
                color: #425486;
            }
        }

        &__available {
            &>svg {
                path {
                    fill: #425486 !important;
                }
            }
        }

        &__booked {
            &>svg {
                path {
                    fill: #32BBFF !important;
                }
            }
        }

        &__selected {
            &>svg {
                path {
                    fill: #27AE60 !important;
                }
            }
        }
    }
}

.BookSidebar {
    font-size: 1rem;

    &__Card {
        background: $white;
        border-radius: 5px;
        width: 418px;
        padding: 0 26px;

        &:not(:last-of-type) {
            margin-bottom: 37px;
        }

    }

    &__TripDetails,
    &__Cost {
        padding: 24px 0;

        &:not(:last-of-type) {
            border-bottom: 0.5px solid #a1a9c3cc;
        }
    }

    &__TripDetails {
        &>h2 {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: #A1A9C3;
            margin-bottom: 11px;
        }

        &>h3 {
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            color: #425486;
            margin-bottom: 4px;
        }

        &>p {
            font-size: 16px;
            line-height: 21px;
            color: #425486;
        }
    }

    &__Cost {
        &>div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            line-height: 21px;
            color: #425486;

            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
        }

        &:nth-of-type(2) {
            &>div {
                font-weight: bold;
                font-size: 22px;

                &>p {
                    &>span {
                        font-weight: normal;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.CompletingBookingContent,
.PassengerDetailsContent {
    width: 740px;
}

.PassengerDetailsContent {


    &__accordion {
        width: 100%;
        margin-bottom: 39px;
    }

    &__info {
        background: #F1F2F6;
        border-radius: 5px;
        display: flex;
        flex-wrap: nowrap;
        padding: 12px 22px;
        margin-bottom: 32px;

        &>svg {
            width: 21px;
            height: 21px;
            margin-right: 9px;
        }

        &>p {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: #425486;
        }
    }

    &__Submit {
        height: 38px;
        background: #32BBFF !important;
        color: $white !important;
        font-size: 16px;
        line-height: 21px;
        font-weight: normal;
        min-width: initial;
        margin-left: auto;
        padding: 0 28px;
    }
}

.CompletingBookingContent {
    &__wrapperCard {
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 39px;
        }
    }

    &__profile {
        &__info {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            font-size: 16px;
            line-height: 21px;
            color: #425486;

            &:not(:last-of-type) {
                margin-bottom: 16px;
            }

            &__text {
                width: 30%;
                font-weight: bold;
            }
        }
    }

    &__payment {
        margin-bottom: 27px;

        &__selection {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            &>img {
                width: 98px;
            }

        }
    }
}

.BookingFooter {
    width: 100%;

    &>p {
        margin-left: 33px;
        color: #425486;

        &>strong {
            display: inline-block;
            margin-bottom: 10px;
        }
    }

    &__button {
        height: 38px;
        background: #32BBFF !important;
        color: $white !important;
        font-size: 16px;
        line-height: 21px;
        font-weight: normal;
        min-width: 196px;
        margin-left: auto;
        padding: 0 28px;
        margin-top: 29px;
    }
}